h1 {
    color: red;
    font-size: 50px;
    font-family: 'Barrio', cursive;
}

.small-img {
    width: 10%;
    height: 10%;
}

.small-img {
    border: 5px solid #429b42;
}

.small-img:hover {
    border: 5px solid #4422ff;
}

#headingTwo {
    background-color: #1103da9f;
    padding: 20px;
    font-size: 30px;
    color: green;
    text-decoration: bisque;
    text-transform: uppercase;
    font-family: 'Barrio', cursive;
}