.icons {
    background-color: #3d97ff;
    margin-top: 70px;
    border-radius: 0px !important;
}

.my-icon {
    font-size: 50px;
}

.navbar {
    border-radius: 0px;
    margin-bottom: 0;
}

#contact {
    margin-bottom: 30px;
    font-size: 16px;
}

h1,
h2 {
    font-family: 'Barrio', cursive;
    font-size: 50px;
    color: #0073f9 !important;
}

.contact-form-header {
    font-size: 50px;
}

.tableTron {
    margin-top: 50px;
}

.my-panels {
    padding: 60px
}

.my-image {
    height: 350px;
    padding-top: 35px;
}